#hero-searchbar {
  width: 80%;
  min-height: 50px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(38, 63, 108, 0.16);
  border-radius: 26px;
  z-index: 100;
}

#hero-searchbar input {
  width: 63%;
  border-radius: 26px;
  border: 1px solid #ffffff;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 23.73px;
  box-shadow: none;
  color: #6a6a6a;
}

#hero-searchbar .hero-btn {
  position: absolute;
  right: 0;
  width: 175.69px;
  height: 100%;
  border-radius: 26px;
  background-color: #64d6cd;
  color: #ffffff;
  border: 1px solid #64d6cd;
  box-shadow: none;
  font-size: 16px;
  line-height: 19.36px;
  &:hover {
    background-color: #76ede3 !important;
    border: 1px solid #76ede3 !important;
  }
}

@media screen and (max-width: 530px) {
  #hero-searchbar {
    width: 100%;
  }
  #hero-searchbar .hero-btn {
    width: 35%;
  }
  #hero-searchbar input {
    width: 65%;
  }
}

@media screen and (max-width: 475px) {
  #hero-searchbar .hero-btn {
    width: 50%;
  }
  #hero-searchbar input {
    width: 50%;
  }
}

/* Btns */
.previous-btn {
  background-color: #ffffff;
  color: #424242;
  box-shadow: none !important;
  border: 1px solid #cdcdcd;
  border-radius: 26px;
  padding: 7.5px 37px 7.5px 37px;
  margin-right: 1rem;
  &:hover {
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #424242;
    color: #424242;
  }
  &:focus {
    background-color: #ffffff;
    box-shadow: none;
    color: #424242;
    border: 1px solid #424242;
  }
}

.next-btn {
  background: var(--btn-next-color);
  box-shadow: 0px 2px 11px 1px rgba(67, 95, 157, 0.2) !important;
  border: 1px solid var(--btn-next-color);
  border-radius: 26px;
  padding: 7.5px 53px 7.5px 53px;
  &:hover {
    background: var(--btn-next-hover-color);
    box-shadow: 0px 2px 11px 1px rgba(67, 95, 157, 0.2) !important;
    border: 1px solid var(--btn-next-hover-color);
  }
  &:focus {
    background: var(--btn-next-hover-color);
    box-shadow: 0px 2px 11px 1px rgba(67, 95, 157, 0.2) !important;
    border: 1px solid var(--btn-next-hover-color);
  }
  &:disabled {
    background: var(--btn-next-hover-color);
    box-shadow: 0px 2px 11px 1px rgba(67, 95, 157, 0.2) !important;
    border: 1px solid var(--btn-next-hover-color);
  }
}

@media screen and (max-width: 447px) {
  .steps-btn {
    flex-direction: column;
    align-items: baseline;
    .previous-btn { 
      margin-bottom: 1rem;
    }
  }
}