.hero-section {
  height: 584px;
  background: var(--hero-bg-color);
}

.hero-section-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;

  .h-1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #64d6cd;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-bottom: 16px;
    z-index: 1;
    text-align: center;
  }

  h2 {
    color: var(--hero-font-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 24px;
    z-index: 1;
  }
}

.hero-section-div {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Light theme */
.hero-section-div .bottom-bar {
  background: var(--hero-bottom-bar);
  width: 100%;
  height: 33px;
  position: absolute;
  bottom: 0;
}

.hero-section-div .long-wave {
  position: absolute;
  bottom: 0;
}

.long-wave svg {
  max-width: 100%;
}

.hero-section-div .sun {
  position: absolute;
  bottom: 180px;
  left: 70px;
}

.hero-section-div .moon {
  position: absolute;
  bottom: 40%;
  right: 70px;
}

.hero-section .tree {
  position: absolute;
  bottom: 10px;
  left: 48px;
  z-index: 10;
}

.hero-section .table {
  position: absolute;
  bottom: -10px;
  left: 140px;
  z-index: 10;
  width: fit-content;
}

.hero-section-div .home {
  position: absolute;
  bottom: 32px;

  right: 17.26px;
  z-index: 10;

  img {
    width: 100%;
  }
}

.hero-section-div .tree2 {
  position: absolute;
  bottom: 32px;
  right: 351px;
  z-index: 10;

  svg {
    width: 100%;
  }
}

.mb-btn {
  display: none;
}

.hero-section-div .cloud1 {
  position: absolute;
  top: 110px;
}

.hero-section-div .cloud2 {
  position: absolute;
  top: 233px;
  left: 55px;
}

.hero-section-div .cloud3 {
  position: absolute;
  top: 171px;
  right: 0;
}

.hero-section-div .birds {
  position: absolute;
  right: 10%;
  top: 30%;
}

.brick {
  width: 100%;
  svg {
    width: 100%;
  }
}

@media screen and (max-width: 831px) {
  .home img {
    max-width: 200px;
  }
  .tree2 {
    right: 200px !important;
  }
  .tree2 img {
    max-width: 100px;
  }
  .tree {
    left: 0px !important;
  }
  .tree img {
    max-width: 70px;
  }
  .table {
    left: 50px !important;
  }

  .table img {
    max-width: 150px;
  }
  .sun {
    bottom: 10% !important;
    left: 0px !important;
  }
}

@media screen and (max-width: 530px) {
  .birds {
    top: 0 !important;
  }
  .tree {
    left: 0px !important;
  }
  .tree img {
    max-width: 40px !important;
  }
  .table {
    left: 30px !important;
  }

  .table img {
    max-width: 100px !important;
  }
}

@media screen and (max-width: 403px) {
  .tree {
    display: none;
  }
  .hero-section .table {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .hero-section-headings h2 {
    font-size: 30px;
  }
  .sun {
    bottom: 0% !important;
    left: 0px !important;
  }
}

@media screen and (min-width: 1677px) {
  .long-wave {
    height: 256px;
    overflow: hidden;
  }
}

@media screen and (max-width: 240px) {
  .ds-btn {
    display: none;
  }
  .mb-btn {
    display: inline;
  }
}

@media screen and (max-width: 206px) {
  .sun {
    display: none;
  }
  .cloud1 {
    display: none;
  }
  .cloud2 {
    display: none;
  }
}

@media screen and (max-width: 308px) {
  .tree2 {
    right: 100px !important;
  }
}

.dot1 {
  position: absolute;
  left: 9.65%;
  right: 90.21%;
  top: 19.19%;
  bottom: 80.56%;
}

.dot2 {
  position: absolute;
  left: 18.2%;
  right: 81.59%;
  top: 18.81%;
  bottom: 80.81%;
}
.dot3 {
  position: absolute;
  left: 14.24%;
  right: 85.49%;
  top: 24.14%;
  bottom: 75.35%;
}
.dot4 {
  position: absolute;
  left: 15.28%;
  right: 84.52%;
  top: 34.43%;
  bottom: 65.18%;
}

.dot5 {
  position: absolute;
  left: 18.82%;
  right: 80.97%;
  top: 29.1%;
  bottom: 70.52%;
}

.dot6 {
  position: absolute;
  left: 21.46%;
  right: 78.33%;
  top: 34.78%;
  bottom: 64.83%;
}

.dot7 {
  position: absolute;
  left: 28.89%;
  right: 70.9%;
  top: 41.82%;
  bottom: 57.8%;
}

.dot8 {
  position: absolute;
  left: 65.83%;
  right: 33.96%;
  top: 20%;
  bottom: 79.61%;
}
.dot9 {
  position: absolute;
  left: 76.32%;
  right: 23.54%;
  top: 19.06%;
  bottom: 80.68%;
}
.dot10 {
  position: absolute;
  left: 80.9%;
  right: 18.82%;
  top: 24.02%;
  bottom: 75.47%;
}
.dot11 {
  position: absolute;
  left: 84.87%;
  right: 14.93%;
  top: 18.68%;
  bottom: 80.94%;
}
.dot12 {
  position: absolute;
  left: 81.94%;
  right: 17.85%;
  top: 34.31%;
  bottom: 65.31%;
}
.dot13 {
  position: absolute;
  left: 85.49%;
  right: 14.31%;
  top: 28.97%;
  bottom: 70.65%;
}
.dot14 {
  position: absolute;
  left: 92.78%;
  right: 7.01%;
  top: 21.09%;
  bottom: 78.52%;
}
